language: java

jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8

env:
  global:
    secure: ZEVr2OGZAPv+Vtna82xekRldh96KedM+0fa4YKbPw7tqQH7J9bjZ+dc/dOEG0Ycao71brmIjcgZV95HHHjhBvJtnR0GJZ5UDtJv3AJ9Id9fUd6IcBuPbsUfkAj939ec72lzM4KfNxGn0RRAsaCo2aD9pHT93SEUN8lZgFIoZkKA=

before_install:
  - sudo apt-get update

install:
  - sudo apt-get install protobuf-compiler

before_script:
  - .utility/before_script.sh

script:
  - .utility/build.sh

# Publish javadoc to http://zk-1931.github.io/javazab/javadoc
after_success:
  - .utility/publish-artifacts.sh

after_failure:
  - cat target/surefire-reports/*output.txt
